*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#EFEAE4;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--mainColor);
}
ul{
    list-style-type: none;
}
h1{
    font-family: var(--mainFont);
}
h2 ,h3{
    text-shadow: 1px 1px 1px var(--subColor3);
    font-family: var(--mainFont);
    font-size: 40px;
}
h4{
    text-shadow: -1px 1px 1px var(--subColor1);
}

:root{
    --mainColor: #7a90a8;
    --mainFont: "Pacifico", cursive;
    --subColor:#48596b;
    --subColor1:#efeae4 ;
    --subColor2:#a78a6a ;
    --subColor3:#920001;
    --subFont:"Sour Gummy", sans-serif;;
    --subFont1:"Roboto Slab", serif;
}
.mainFont{
    font-family: var(--mainFont);
}
.subFont{
    font-family: var(--subFont);
}
.subFont1{
    font-family: var(--subFont1);
}
.mainColor{
    color: var(--mainColor);
}
.subColor{
    color: var(--subColor);
}
.subColor1{
    color: var(--subColor1);
}
.subColor2{
    color: var(--subColor2);
}
.subColor3{
    color: var(--subColor3);
}
.bg-mainColor{
    background-color: var(--mainColor);
}
.bg-subColor{
    background-color: var(--subColor);
}
.bg-subColor1{
    background-color: var(--subColor1);
}
.bg-subColor2{
    background-color: var(--subColor2);
}
.bg-subColor3{
    background-color: var(--subColor3);
}
.textShadow{
    text-shadow: 1px 1px 1p var(--subColor);
}
/* Navbar Start */
.navbar{
    position: sticky;
    background: radial-gradient(circle,rgba(239, 234, 228, 1) 0%, rgba(142, 141, 141, 1) 25%, rgba(122, 144, 168, 1) 50%, rgba(239, 234, 228, 1) 75%, rgba(72, 89, 107, 1) 100%);
    box-shadow: 2px 2px 2px #7A90A8;
/* background: linear-gradient(140deg,rgba(239, 234, 228, 1) 0%, rgba(49, 15, 16, 1) 20%, rgba(148, 114, 103, 1) 60%, rgba(49, 15, 16, 1) 100%);
 */}
.navbar h3{
    text-shadow: -1px 1px 1px var(--subColor1);
    font-size: 20px;
}
.navbar i{
    text-shadow: -1px 1px 1px var(--subColor1);
}
.logo-img{
    width: 8%;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #252e37;
}
.navbar li{
    cursor: pointer;
    text-shadow: -1px 1px 1px var(--subColor3);
    color: var(--subColor);
    font-family: var(--subFont);
}
.navBtn{
    background-color: #48596b;
    color: aliceblue;
}

.navbar input{
    background-color: #EFEAE4;
}

.navbar .form-control:focus{
border-color: #AFCAE8;
box-shadow: 0 0 0 .25rem #AFCAE8;
}

.offcanvas-title{
    font-size: 30px;
    text-shadow: 1px 1px 1px var(--subColor);
}

/* Navbar End */

.swiper {
  height: 80vh;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}
.header-description{
    text-shadow: -1px 1px 1px var(--subColor2);
    font-size: 20px;
}
.header-img{
    position: relative;
}
.header-imgTop1{
    position: absolute;
    width: 15%;
    left:60px;
    top: -30px;
}
.header-imgTop2{
    position: absolute;
    width: 13%;
    right:70px;
    bottom:60px;
}
.header-imgTop3{
    position: absolute;
    width: 19%;
    left:15px;
    bottom:65px;
}
.header-imgTop4{
    position: absolute;
    width: 15.5%;
    right:123px;
    top:110px;
}
.header-imgTop5{
    position: absolute;
    width: 17%;
    right:65px;
    top:7px;
}
@media screen and (max-width:1500px){
    .header-title{
        position: absolute;
        top:0px;
    }
    .header-imgTop1{
    width: 10%;
    left:90px;
    top: -30px;
}
.header-imgTop2{
    width: 10%;
    right:75px;
    bottom:45px;
}
.header-imgTop3{
    width: 13%;
    left:90px;
    bottom:40px;
}
.header-imgTop4{
    width: 13%;
    right:158px;
    top:20px;
}
.header-imgTop5{
    width: 11%;
    right:55px;
    top:5px;
}
    
}
  
.header-title{
    position: absolute;
    top:200px;
    background-color: #FEEB9F;
    text-shadow: -1px 2px 2px var(--subColor);
}
.header-description{
    position: absolute;
    top:320px;
}

.categoryList li:hover{
    cursor: pointer;
    color: var(--subColor1);
    background-color: var(--subColor2);
}
.categoryList a:hover{
    color: var(--subColor1);
}

.homeProducts h2{
    margin-bottom: 85px;
}
.homeProductsCard img{
    height: 286px;
}
.seeMore{
    text-shadow: -1px 1px 1px var(--mainColor);
    font-size: larger;
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    color: var(--subColor1);
    background-color: var(--mainColor);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.prodBtn:hover{
    background-color:var(--subColor2);
    color: var(--subColor1);
}
.homeProductsCard .card-title{
    height: 48px;
}


/* .footerBtn{
    height: 70%;
} */
.footerSubmit{
    height: 59%;
    cursor: pointer;
}
.footerSubmit:hover{
    background-color: var(--subColor);
    color: var(--subColor1);
}
.footer-bg{
    background-image: url(../imgs/Cherr.png);
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-position: left;
    filter: blur(3px);
    z-index: -1;

}
.footer{
    position: relative;
    z-index: 1;
}
.fa-brands{
    text-shadow: -1px 1px 1px var(--subColor3);
    cursor: pointer;
}
/* .footer-para{
  background-color: rgba(239, 234, 228, 0.4);
  backdrop-filter: blur(5px);
} */


/* Products Page start */
.Products body{
    position: relative;
}
.ProdHero{
    height: 80vh;
    background-image: url(../imgs/prodHero.png);
    background-size: cover;
    background-position: center;
}
.prodHero-title{
    text-shadow: -1px 1px 1px var(--subColor);
    box-shadow: -2px 1px 1px var(--subColor2);
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--subColor1);
    background-color: var(--subColor);
    border-color: var(--subColor);
}

.productsContent .card-title{
    height: 48px;
}

.sort-select .sort-option:hover{
    background-color: var(--mainColor);
}
.page-link {
    color: var(--subColor);
}


/* Create Prod Modal */
.createNewProdModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
    backdrop-filter: blur(8px);
    z-index: 1;
    cursor: pointer;
}
.show{
    opacity: 1;
    visibility: visible;
}
.costume-modal-content{
    width: 35%;
    background: radial-gradient(circle,rgba(239, 234, 228, 1) 0%, rgba(142, 141, 141, 1) 25%, rgba(122, 144, 168, 1) 50%, rgba(239, 234, 228, 1) 75%, rgba(72, 89, 107, 1) 100%);
    box-shadow: 2px 2px 2px #7A90A8;

}
/* Create Prod Modal */



/* Products Page end */


